Makefile
*.o
*.lo
*.1
*.la
docs/
*.swp
clients/.deps
clients/.dirstamp
clients/.libs
autom4te.cache/
clients/memcapable
clients/memcat
clients/memcp
clients/memdump
clients/memerror
clients/memflush
clients/memrm
clients/memslap
clients/memstat

config.h
config.log
config.status
config/pandora_vc_revinfo
example/.deps/
example/.dirstamp
example/.libs/
example/memcached_light
libhashkit/.deps/
libhashkit/.dirstamp
libhashkit/.libs/
libmemcached/.deps/
libmemcached/.dirstamp
libmemcached/.libs/
libmemcached/protocol/.deps/
libmemcached/protocol/.dirstamp
libmemcached/util/.deps/
libmemcached/util/.dirstamp
libtool
poll/.deps/
stamp-h1
support/libmemcached-fc.spec
support/libmemcached.pc
tests/.deps/
tests/.dirstamp
tests/.libs/
tests/atomsmasher
tests/hashplus
tests/memplus
tests/startservers
tests/testapp
tests/testhashkit
tests/testplus
tests/testudp
unittests/.deps/

